@CHARSET "UTF-8";

#trustcommerce-form #edit-expmonth-wrapper,
  #trustcommerce-form #edit-expyear-wrapper {
  float: left;
  margin-bottom: 1em;
  margin-top: 0em;
  padding-right: 20px;
}

#trustcommerce-form #edit-submit.form-submit {
  clear: both;
}

#trustcommerce-form #edit-checkcvv-wrapper {
  clear: both;
}

#trustcommerce-form #help {
  margin-bottom: 1em;
}

#trustcommerce-form #submit #edit-submit {
  margin-top: 1.5em;
  clear: both;
}